.managesongs {
  overflow: hidden;
  width: 100%;

  input {
    max-width: 400px;
  }
}

.managesongs__forms {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .managesongs {
    flex-direction: column;
  }
}
